{
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "prettier"
  ],

  "rules": {
    "no-console": "error",
    "vue/multi-word-component-names": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "ignoreRestSiblings": true }
    ]
  }
}
